


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
 
 <meta name="description" content="Rest APIs - Yuda Xwer">
 <meta name="robots" content="all,index,follow"><meta name="googlebot" content="all,index,follow"><meta name="allow-search" content="yes"><meta name="audience" content="all"><meta name="copyright" content="? 2020 Tools Online"><meta name="creator" content="xrxaxm"><meta http-equiv="Reply-to" content="index">
 <link rel="base" href="home"/>
 <link rel="canonical" href="/docs#"/>
 <link href='https://i.ibb.co/NFDbMyv/yuda.jpg' rel='icon' type='image/x-icon'/>
 <link rel="shortcut icon" href="https://i.ibb.co/NFDbMyv/yuda.jpg" />
  <title>Homepage APIs - Yuda</title>
  
  <style>
  :-webkit-full-screen {
  
  }
  /* IE11 */
  :-ms-fullscreen {
  background-color: rbutton
  :fullscreen {
  
  }
  </style>
  <script>
  
  var elem = document.documentElement;
  function openFullscreen() {
  if (elem.requestFullscreen) {
  elem.requestFullscreen();
  } else if (elem.webkitRequestFullscreen) { /* Safari */
  elem.webkitRequestFullscreen();
  } else if 
  (elem.msRequestFullscreen) { /* IE11 */
  elem.msRequestFullscreen();
  }
  }
  function closeFullscreen() {
  if (document.exitFullscreen) {
  document.exitFullscreen();
  } else if (document.webkitExitFullscreen) { /* Safari */
  document.webkitExitFullscreen();
  } else if (document.msExitFullscreen) { /* IE11 */
  document.msExitFullscreen();
  }
  }
  </script>
  
  <!-- JSON-LD - structured data markup Google Search -->
  <script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name":  "YudaXwer",
  "alternateName": "YudaApikey",
  "url": "https://yudaapikey.herokuapp.com/docs"}
  </script>
  <p></p>
  </div>
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/core.min.css">
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/alert.css">
	
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/owl.min.css">
  <link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/owl2.min.css">
	
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/icon.min.css">
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/flag.min.css">
	<link rel="stylesheet" href="https://onlydevcity.xyz/ikygans/style.min.css">
	<link rel="shortcut icon" href="https://i.ibb.co/9cPV85f/60fc44f508ec.jpg" />
</head>
<body>
<style>
asu {
	font-size: 15pt; 
	font-family: 'Lacquer', sans-serif;
}
mek {
	font-size: 10pt; 
    font-family: 'Lacquer', sans-serif;
	color: #red;
}
asu1{
	font-size: 15pt;
	font-family: 'Lacquer', sans-serif;
}
</style>
<div class="main-wrapper">
	<nav class="sidebar">
		<div class="sidebar-header">
			<a href="#" class="sidebar-brand">
				Yuda<span> Xwer</span>
			</a>
			<div class="sidebar-toggler not-active">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="sidebar-body">
			<ul class="nav">
				<li class="nav-item">
				<a href="/" class="nav-link">
				<i class="link-icon" data-feather="box"></i>
				<span class="link-title">Home</span>
				</a>
				</li>
			
				<li class="nav-item nav-category">Yuda Api</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="collapse" href="#endecode" role="button" aria-expanded="false" aria-controls="endecode">
						<i class="link-icon" data-feather="download"></i>
						<span class="link-title">Sosial Media API</span>
						<i class="link-arrow" data-feather="chevron-down"></i>
					</a>
					<div class="collapse" id="endecode">
						<ul class="nav sub-menu">
							<li class="nav-item">
								<a href="/api/download/ig?url=https://www.instagram.com/p/CNtpwxuH5NK/?igshid=g26k5coikzwr&apikey=Masukkan_ApikeyNya" class="nav-link">Ig Download</a>
							</li>
							<li class="nav-item">
								<a href="/api/download/fb?url=https://www.facebook.com/alanwalkermusic/videos/277641643524720&apikey=Masukkan_ApikeyNya" class="nav-link">Fb Download</a>
							</li>
							<li class="nav-item">
							<a href="/api/yt/playmp3?query=Monolog-pamungkas&apikey=Masukkan_ApikeyNya" class="nav-link">YT Mp3</a>
							</li>
							<li class="nav-item">
							<a href="/api/yt/playmp4?query=Monolog-pamungkas&apikey=Masukkan_ApikeyNya" class="nav-link">YT Mp4</a>
							</li>
							<li class="nav-item">
								<a href="/api/download/tiktok?url=https://vt.tiktok.com/ZSJhvu1AE/&apikey=Masukkan_ApikeyNya" class="nav-link">Tiktok Download</a>
		     				</li>
						</ul>
					</div>
				</li>						
				<li class="nav-item">
					<a class="nav-link" data-toggle="collapse" href="#exploit" role="button" aria-expanded="false" aria-controls="exploit">
						<i class="link-icon" data-feather="book"></i>
						<span class="link-title">Islamic Features</span>
						<i class="link-arrow" data-feather="chevron-down"></i>
					</a>
					<div class="collapse" id="exploit">
						<ul class="nav sub-menu">
							<li class="nav-item">
								<a href="/api/hadits?kitab=bukhari&nomor=52&apikey=YOUR_APIKEY" class="nav-link">Hadits Shahih</a>
							</li>
							<li class="nav-item">
								<a href="/api/quran?surah=1&ayat=2&apikey=YOUR_APIKEY" class="nav-link">Al - Quran</a>
							</li>
							<li class="nav-item">
								<a href="/api/muslim/tahlil?apikey=YOUR_APIKEY" class="nav-link">Doa Tahlil</a>
							</li>
							<li class="nav-item">
								<a href="/api/muslim/asmaulhusna?apikey=YOUR_APIKEY" class="nav-link">Asmaul Husna</a>
							</li>
							<li class="nav-item">
							<a href="/api/muslim/doaharian?apikey=YOUR_APIKEY" class="nav-link">Doa Harian</a>
							</li>
							<li class="nav-item">
							<a href="/api/muslim/ayatkursi?apikey=YOUR_APIKEY" class="nav-link">Ayat Kursi</a>
							</li>
							<li class="nav-item">
							<a href="/api/kisahnabi?nabi=muhammad&apikey=YOUR_APIKEY" class="nav-link">Kisah Nabi</a>
							</li>
							<li class="nav-item">
							<a href="/api/muslim/niatshalat?apikey=YOUR_APIKEY" class="nav-link">Niat Shalat</a>
							</li>
							<li class="nav-item">
							<a href="/api/muslim/bacaanshalat?apikey=YOUR_APIKEY" class="nav-link">Bacaan Shalat</a>
							</li>
							<li class="nav-item">
							<a href="/api/jadwalshalat?kota=bandung&apikey=YOUR_APIKEY" class="nav-link">Jadwal Shalat</a>
							</li>
						</ul>
					</div>
				</li>

				
				<li class="nav-item">
				<a class="nav-link" data-toggle="collapse" href="#primbon" role="button" aria-expanded="false" aria-controls="primbon">
				<i class="link-icon" data-feather="star"></i>
				<span class="link-title">Primbon APi</span>
				<i class="link-arrow" data-feather="chevron-down"></i>
				</a>
				<div class="collapse" id="primbon">
				<ul class="nav sub-menu">
				<li class="nav-item">
				<a href="/api/artinama/?nama=Yuda&apikey=Apikey" class="nav-link">Arti Nama</a>
				</li>
				<li class="nav-item">
				<a href="/api/tanggaljadian/?tgl=30&bln=02&thn=2018&apikey=apikey" class="nav-link">Makna Tanggal Jadian</a>
				</li>
				<li class="nav-item">
				<a href="/api/gabut?apikey=APIKEY" class="nav-link">Arti Mimpi</a>
				</li>
				</ul>
				</div>
				</li>
		
							<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#otherpi" role="button" aria-expanded="false" aria-controls="otherapi">
							<i class="link-icon" data-feather="coffee"></i>
							<span class="link-title">Fun APIs</span>
							<i class="link-arrow" data-feather="chevron-down"></i>
							</a>
							<div class="collapse" id="otherpi">
							<ul class="nav sub-menu">
							<li class="nav-item">
							<a href="/api/kuis/caklontong?apikey=APIKEY" class="nav-link">Cak Lontong ( By Zahir )</a>
							</li>
							<li class="nav-item">
							<a href="/api/kuis/family100?apikey=APIKEY" class="nav-link">Family 100</a>
							</li>
							<li class="nav-item">
							<a href="api/kuis/tebakgambar?apikey=YOUR_APIKEY" class="nav-link">Tebak Gambar ( By Zahir )</a>
				         	</li>
							</ul>
							</div>
							</li>																
							<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#photooxyapi" role="button" aria-expanded="false" aria-controls="photooxyapi">
							<i class="link-icon" data-feather="camera"></i>
							<span class="link-title">Photooxy API</span>
							<i class="link-arrow" data-feather="chevron-down"></i>
							</a>
							<div class="collapse" id="photooxyapi">
							<ul class="nav sub-menu">
							<li class="nav-item">
							<a href="/api/photooxy/glitch?apikey=Masukkan_ApikeyNya&text=Yuda&text2=Rest APIs" class="nav-link">Glitch</a>
							</li>										
							<li class="nav-item">
							<a href="api/photooxy/coffe-cup?apikey=Masukkan_Apikeynya&text=Yuda" class="nav-link">Coffe Cup</a>
							</li>											
							<li class="nav-item">
							<a href="/api/photooxy/shadow?apikey=Masukkan_ApikeyNya&text=Yuda" class="nav-link">Shadow Text</a>
							</li>
							<li class="nav-item">
							<a href="/api/photooxy/romantic?apikey=Masukkan_ApikeyNya&text=Yuda" class="nav-link">Romantic Text</a>
							</li>
							<li class="nav-item">
							<a href="/api/photooxy/smoke?apikey=Masukkan_ApikeyNya&text=Yuda" class="nav-link">Smoke Text</a>
							</li>					
							<li class="nav-item">
							<a href="/api/photooxy/burn-paper?apikey=Masukkan_ApikeyNya&text=Yuda" class="nav-link">Burn-Paper Text</a>
							</li>
							<li class="nav-item">
							<a href="/api/photooxy/naruto?apikey=Masukkan_ApikeyNya&text=Yuda" class="nav-link">Naruto Text</a>
							</li>
							<li class="nav-item">
							<a href="/api/photooxy/message-under-grass?apikey=Masukkan_ApikeyNya&text=Yuda" class="nav-link">Under Grass Text</a>
							</li>
							<li class="nav-item">
							<a href="/api/photooxy/love-message?apikey=Masukkan_ApikeyNya&text=Yuda" class="nav-link">Love Text</a>
							</li>
							</ul>
							</div>
							</li>											
							<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#imagesapi" role="button" aria-expanded="false" aria-controls="imagesapi">
							<i class="link-icon" data-feather="image"></i>
							<span class="link-title">Images API</span>
							<i class="link-arrow" data-feather="chevron-down"></i>
							</a>
							<div class="collapse" id="imagesapi">
							<ul class="nav sub-menu">
							<li class="nav-item">
							<a href="/api/wallpaper/teknologi?apikey=MASUKAN_APIKEY" class="nav-link">Wallpaper Teknologi</a>
							</li>
							<li class="nav-item">
							<a href="/api/wallpaper/programming?apikey=MASUKAN_APIKEY" class="nav-link">Wallpaper Progaming</a>
							</li>
							<li class="nav-item">
							<a href="/api/wallpaper/cyberspace?apikey=MASUKAN_APIKEY" class="nav-link">Wallpaper CyberSpace</a>
							</li>
							<li class="nav-item">
							<a href="/api/wallpaper/muslim?apikey=MASUKAN_APIKEY" class="nav-link">Wallpaper Muslim</a>
							</li>
							<li class="nav-item">
							<a href="/api/wallpaper/pegunungan?apikey=MASUKAN_APIKEY" class="nav-link">Wallpaper Pegunungan</a>
							</li>
							</ul>
							</div>
							</li>
							<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#photoeditor" role="button" aria-expanded="false" aria-controls="photoeditor">
							<i class="link-icon" data-feather="image"></i>
							<span class="link-title">Maker APIs</span>
							<i class="link-arrow" data-feather="chevron-down"></i>
							</a>
							<div class="collapse" id="photoeditor">
							<ul class="nav sub-menu">
							<li class="nav-item">
							<a href="/api/maker/nulis?apikey=Masukkan_ApikeyNya&text=Awokwokwok Mager yaa:v" class="nav-link">Nulis</a>
							</li>
							<li class="nav-item">
							<a href="/api/maker/attp?apikey=Masukkan_ApikeyNya&text=Yuda" class="nav-link">ATTP</a>
							</li>
							<li class="nav-item">
							<a href="/api/maker/ttp?apikey=Masukkan_ApikeyNya&text=Yuda" class="nav-link">TTP</a>
							</li>
							<li class="nav-item">
							<a href="/api/maker/skatch?apikey=Masukkan_ApikeyNya&url=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbmrYfgiRt1lLwNgRMgMbID62qH3EQ2T1c6RUJEQMcoCWKqVVxAg7R_LfM&s=10" class="nav-link">Scatch Effect</a>
							</li>
							<li class="nav-item">
							<a href="/api/maker/emoji2png?apikey=Masukkan_ApikeyNya&text=🗿" class="nav-link">Emoji2Png</a>
							</li>
							<li class="nav-item">
							<a href="api/mememaker3?teks=aku%20sangat%20tidak%20peduli&img_url=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaVPHWMTO7jGoZP0QHiqlbODT9Gjxo1HnSug&usqp=CAU&apikey=YOUR_APIKEY" class="nav-link">Meme Maker 3</a>
							</l>
							<li class="nav-item">
							<a href="api/stickermeme?teks=aku%20sangat%20tidak%20peduli&img_url=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaVPHWMTO7jGoZP0QHiqlbODT9Gjxo1HnSug&usqp=CAU&apikey=YOUR_APIKEY" class="nav-link">Sticker Meme</a>
							</li>																	
					</ul>
							</div>
							</li>
					<li class="nav-item nav-category">About</li>
					<li class="nav-item">
					<a class="nav-link" data-toggle="collapse" href="#sosmed" role="button" aria-expanded="false" aria-controls="sosmed">
					<i class="link-icon" data-feather="star"></i>
					<span class="link-title">Sosial Media</span>
					<i class="link-arrow" data-feather="chevron-down"></i>
					</a>
					<div class="collapse" id="sosmed">
					<ul class="nav sub-menu">
					<li class="nav-item">
					<a href="href="https://github.com/yuda112" class="nav-link">Github</a>
					</li>				
					<li class="nav-item">
					<a href="https://api.whatsapp.com/send/?phone=6281370435024&text=min%20mau%20beli%20apikey&app_absent=0" class="nav-link">WhatsApp</a>
					</li>
					<li class="nav-item">
					<a href="https://instagram.com/yuda.dika.12" class="nav-link">Instagram</a>
					</li>
					</ul>
				</li>
			</ul>
		</div>
		<style>
		asu {
		font-size: 15pt; 
		font-family: 'Sedgwick Ave', cursive;
		}
		mek {
		font-size: 10pt; 
		font-family: 'Sedgwick Ave', cursive;
		color: #red;
		}
		asu1{
		font-size: 20pt;
		font-family: 'Berkshire Swash', cursive;
		}
		</style>
	<li class="nav-item nav-category">Contact</li>
	
	<li class="nav-item">
	
	
	</ul>
	</li>
	</nav>	
	<nav class="settings-sidebar">
	<div class="sidebar-body">
	<a href="#" class="settings-sidebar-toggler">
	<i data-feather="settings"></i>
	</a>
	<div class="theme-wrapper">
	<h6 class="text-center text-muted">Menu</h6><hr>
	<a href="https://wa.me/6281370435024" class="btn btn-block btn-outline-primary">Beli Api Key</a>
	<a href="https://wa.me/6281370435024" class="btn btn-block btn-outline-primary">Lapor Bug</a>
	
	</nav>	
	<div class="page-wrapper">
	
	<nav class="navbar">
	<a href="#" class="sidebar-toggler">
	<i data-feather="align-left"></i>
	</a>
	<div class="navbar-content">
	<a href="index">
	<div class="h4 text-white m-3">Yuda Xwer</div> 
	</a>
	<ul class="navbar-nav">
	<li class="nav-item dropdown nav-apps">
	<a class="nav-link dropdown-toggle" href="#" id="appsDropdown" onclick="openFullscreen();" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<i data-feather="maximize"></i>
	</a>
	</li>
	<li class="nav-item dropdown nav-notifications">
	<a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<i data-feather="clock"></i>
	<div class="indicator">
	<div class="circle"></div>
	</div>
	</a>
	<div class="dropdown-menu" aria-labelledby="notificationDropdown">
	<div class="dropdown-header d-flex align-items-center justify-content-between">
	<p class="mb-0 font-weight-medium">Time & Date</p>
	<br>
	
	</div>
	<div class="dropdown-body">
	
	Saturday<br>
	<p>
	
	<div class="battery">
	
	
	
	<div id="batteryLevel"></div>
	battery precentage:
	<span id="percentageLevel"></span>
	
	
	</p>
	<br>
	AU
	</div>
	<div class="dropdown-footer d-flex align-items-center justify-content-center">
	Yuda Xwer
	</div>
	</li>
	<li class="nav-item dropdown nav-apps">
	<a class="nav-link dropdown-toggle" href="#" id="appsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<i data-feather="grid"></i>
	</a>
	<div class="dropdown-menu" aria-labelledby="appsDropdown">
	<div class="dropdown-header d-flex align-items-center justify-content-between">
	<p class="mb-0 font-weight-medium">
	Web App
	</p>
	</div>
	<div class="dropdown-body">
	<div class="d-flex align-items-center apps">
	<a href=https://github.com/yudadika21" target="_blank"><i data-feather="message-square" class="icon-lg"></i><p>
	Github
	</p>
	</a>
	<a href="https://api.whatsapp.com/send/?phone=6281370435024&text=min%20mau%20beli%20apikey&app_absent=0" target="_blank"><i data-feather="globe" class="icon-lg"></i><p>
	WhatsApp
	</p>
	</a>
	<div class="dropdown-footer d-flex align-items-center justify-content-center">
	Yuda Xwer
	</div>
	</div>
	</li>
	</ul>
	<nav class="settings-sidebar">
	<div class="sidebar-body">
	<a href="#" class="settings-sidebar-toggler">
	<i data-feather="settings"></i>
	</a>
	<div class="theme-wrapper">
	<h6 class="text-center text-muted">Menu</h6><hr>
	<a href="https://wa.me/6281370435024" class="btn btn-block btn-outline-primary">Beli Api Key</a>
	<a href="https://wa.me/6281370435024" class="btn btn-block btn-outline-primary">Lapor Bug</a>
	</div>
	</div>
	</div>
	</nav>	
	
  <div class="page-content">
  <div class="row">
  <div class="d-flex justify-content-between">
  </div>
 <div class="col-md-12 grid-margin">
  <div class="card gradient-card">
  <div class="card-body py-0 px-0 px-sm-3">
  <div class="row align-items-center">
  <div class="col-4 col-sm-3 col-xl-2">
  <img src="https://k.top4top.io/p_1930y2esd1.png" class="gradient-corona-img img-fluid" alt="">
  </div>
  <div class="col-5 col-sm-7 col-xl-8 p-0">
  <asu>Yok Gabung Sama Gw</asu>
  <p class="mb-0 font-weight-normal d-none d-sm-block">🗿</p>
  </div>
  <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
  <span>
  <a href="#" target="_blank" class="btn btn-primary btn-rounded get-started-btn">Join</a>
  </span>
  </div>
  </div>
  </div>
  </div>
  <br>
  <div class="alert alert-primary" role="alert">
   Yang Mau Apikey Nya Chat <a href="#" class="alert-link">WhatsApp</a>, thanks.
  </div>
  </div>
  <div class="col-md-12 grid-margin">
	<div class="card">
	<div class="card-body">
	<div class="row no-gutters align-items-center">
	<div class="col mr-2">
	<div class="font-weight-bold text-info text-uppercase mb-1">Ip Andress</div>
	 <h3 class="mb-1 number-font">
	 <div id="ipanda"></div>
	</div>
	<div class="col-auto">
	<i class="h2 text-info" data-feather="rss"></i>
	</div>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-12 grid-margin">
	<div class="card">
	<div class="card-body">
	<div class="row no-gutters align-items-center" id="info">
	<div class="col mr-2">
	<div class="font-weight-bold text-info text-uppercase mb-1">Visitor</div>
	<h3 class="mb-1 number-font">
	<div id="LIAT" ></div>
	<script>
	var _0x1412=["\x4C\x49\x41\x54","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64","\x70\x65\x72","\x69\x6E\x6E\x65\x72\x48\x54\x4D\x4C","\x76\x61\x6C\x75\x65","\x25","\x74\x68\x65\x6E","\x6A\x73\x6F\x6E","\x68\x74\x74\x70\x73\x3A\x2F\x2F\x61\x70\x69\x2E\x63\x6F\x75\x6E\x74\x61\x70\x69\x2E\x78\x79\x7A\x2F\x68\x69\x74\x2F\x68\x61\x64\x69\x2D\x61\x70\x69\x2D\x76\x69\x65\x77\x65\x72\x2F"];const viewer=document[_0x1412[1]](_0x1412[0]);const persen=document[_0x1412[1]](_0x1412[2]);fetch(_0x1412[8])[_0x1412[6]]((_0xbf23x3)=>{return _0xbf23x3[_0x1412[7]]()})[_0x1412[6]]((_0xbf23x3)=>{viewer[_0x1412[3]]= _0xbf23x3[_0x1412[4]];persen[_0x1412[3]]= _0xbf23x3[_0x1412[4]]/ 100+ _0x1412[5]})
	</script>
	</div>
	<div class="col-auto">
	<i class="h2 text-info" data-feather="user"></i>
	</div>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-12 grid-margin">
	<div class="card">
	<div class="card-body">
	<div class="row no-gutters align-items-center">
	<div class="col mr-2">
	<div class="font-weight-bold text-info text-uppercase mb-1">Road To Idul Fitri</div>
	<h3 class="mb-1 number-font">
	<div id="timee"></div>
	</div>
	<div class="col-auto">
	<i class="h2 text-info" data-feather="moon"></i>
	</div>
	</div>
	</div>
	</div>
	</div>
	<style type="text/css">
	.Brush{
	font-family: 'Nanum Brush Script', cursive;
	}
	.judul{
	font-family: 'Megrim',cursive;
	}
	.tell{
	font-family: 'Lacquer', sans-serif;
	}
	
	</style>
		<div class="col-md-12 grid-margin">
		<div class="card">
		<div class="card">
		<div class="card-header">
		<asu1><i class="link-icon" data-feather="smile"></i>  Welcome To My Rest APIs</asu1>
		</div>
		<div class="card-body">
		<img src="https://i.ibb.co/NFDbMyv/yuda.jpg" alt="Iri ke odc bilang bawahan :v" width="100%" >
			<br><br><p><b>
						API KEY :<br>? [ 15K  ] 2 Bulan / Unlimited 60 Day <br>? [ 10K ] Sebulan / Unlimited 30 Day <br>? [ 5K ] 7 Day / Unlimited 7 Day<br> <br>Ingin Buy / Beli Api Key ? Silahkan Chat Admin Via WhatsApp
						<br>
						Chat Me ON WhatsApp <a href="https://wa.me/6281370435024"><strong>Klik disini</strong></a><br><br>
					<p>
					</b>
					</p>
				</div>
			</div>
		</div>
		</div>
		</div>
		<div class="col-md-12 grid-margin">
		<div class="card">
		<div class="card-body">
		<h3 class="card-title"><i class="link-icon" data-feather="key" aria-hidden="true"></i> Check Apikey</h3>
		<div class="card-body text-sm-left font-weight-bold">
		<p class="status" style="color: white; font-size: 20px;"></p>
		<h2 class="warn" style="color: red"></h2>
		<label for="URL">Type Your Apikey :</label>
        <input type="text" class="form-control" placeholder="apikey" name="apikey" required="">
      	<small id="textHelp" class="font">Note: perlu diketahui, apikey adalah bersifat pribadi.</small>
		</br></br><center>
		<button type="submit" id="diklikcok" class="btn btn-primary" onclick="sendata()">Check</button>
		</div>
		</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
		<div class="card-header">
		<asu1><i class="link-icon" data-feather="smile"></i>  Selamat Berpuasa</asu1>
		</div>
		<div class="card-body">
		<img src="https://l.top4top.io/p_1930y1mwz0.png" alt="banner" class="img-fluid rounded mx-auto d-block mb-4"/>
		<asu>Marhaban Ya Ramadhan Selamat Datang Di Website Kami, Mohon Gunakan Semua Alat Dengan Bijak yaa..<br>- Stay Halal Brother :v</asu>
		</div>
		</div>
		</div>
		</div>
	    <div class="row">
      	<div class="col-md-12 grid-margin stretch-card">
    	<div class="card">
	    <div class="card-header">
		<font size="5" class="card-title"><b>Quotes of the day</b></font><br>
		<i>"Not Friends, Not Enemies, Just Strangers with Some Memories"</i>
		</div>
		</div>
		</div>
		</div>

		<div class="row">
		<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
		<div class="card-header">
		<h5><i class="link-icon" data-feather="info"></i>  Rules Website</h5>
		</div>
		<div class="card-body">
		<h5 class="card-title">Baca S&K Dan Patuhi...</h5>
		<ol>
		<li>- Dilarang Nembak Kalau Nembak Gw Gk Papa:v</li>
		<li>- Jika Anda Menemukan Bug / Error Silahkan Hubungin Pihak Penyedia Api.</li>
		<li>- Segera Lapor Apabila Ada Tools Yang Tidak Berfungsi Dengan Baik!. </li>
		<li>- Jika Ingin Beli Api Key Kalian Bisa Langsung Hubungi Penyedia Api.</li>
		<li>- Jika Anda Melihat / Menemukan Api Key Yang Ter Public / Tersebar Segera Hubungi Admin Anda Mendapatkan Reward.</li>
		<li>Thanks To Itsmeiky</li>
		</ol>
		</div>
		</div>
		</div>
		</div>
	
		<div class="col-md-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title"> My Partner</h6>
					<div class="owl-carousel owl-theme owl-auto-play">
            <div class="item">
              <img src="https://i.ibb.co/0mFKhxJ/boy.jpg" alt="item-image">
            </div>
             <img src="https://i.ibb.co/BBh9R5h/FB-IMG-16202754125759678.jpg" alt="item-image">
            </div>
          </div>   
             	</div>
				</div>
				</div>
	<p><iframe frameborder="0" height="0" src="https://d.top4top.io/m_1674i58hv0.mp3" width="0"></iframe></p>
</div><footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
				<p class="text-muted text-center text-md-left">
					Copyright ? 2021 <a href="" target="_blank">Yuda Xwer</a>. All rights reserved
				</p>
				<p class="text-muted text-center text-md-left mb-0 d-none d-md-block">
					Coded With <i class="mb-1 text-primary ml-1 icon-small" data-feather="heart"></i> By YudaXwer
				</p>
			</footer>
		</div>
	</div>
<script>
				// Akhir Hitungan Mundur
				var countDownDate = new Date("May 14, 2021 00:00:00").getTime();

				// Update Hitungan Mundur Setiap 1 Detik
				var x = setInterval(function() {

					// Mengambil Tanggal Dan Waktu
					var now = new Date().getTime();

					// Find the distance between now and the count down date
					var distance = countDownDate - now;

					// Kalkulator Waktu Hari, Jam, Menit, Detik 
					var days = Math.floor(distance / (1000 * 60 * 60 * 24));
					var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
					var seconds = Math.floor((distance % (1000 * 60)) / 1000);

					// Menampilkan Hasil Di Dalam element Menggunakan id="time"
					document.getElementById("timee").innerHTML = days + " Hari " + hours + " Jam " + minutes + " Menit " + seconds + " Detik ";

					// Ketika countdown timer sudah berakhir Maka Tulisan Berakhir
					if (distance < 0) {
						clearInterval(x);
						document.getElementById("timee").innerHTML = "Berakhir";
					}
				}, 1000);
			</script>
			
			<script type="text/javascript">
			function updateClock(){
			var now = new Date();
			var dname = now.getDay(),
			mo = now.getMonth(),
			dnum = now.getDate(),
			yr = now.getFullYear(),
			hou = now.getHours(),
			min = now.getMinutes(),
			sec = now.getSeconds(),
			pe = "PAGI";
			
			if(hou >= 12){
			pe = "MALAM";
			}
			if(hou == 0){
			hou = 12;
			}
			if(hou > 12){
			hou = hou - 12;
			}
			
			Number.prototype.pad = function(digits){
			for(var n = this.toString(); n.length < digits; n = 0 + n);
			return n;
			}
			
			var months = ["Januari", "Febuari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"];
			var week = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];
			var ids = ["dayname", "month", "daynum", "year", "hour", "minutes", "seconds", "period"];
			var values = [week[dname], months[mo], dnum.pad(2), yr, hou.pad(2), min.pad(2), sec.pad(2), pe];
			for(var i = 0; i < ids.length; i++)
			document.getElementById(ids[i]).firstChild.nodeValue = values[i];
			}
			
			function initClock(){
			updateClock();
			window.setInterval("updateClock()", 1);
			}
			</script>
			<script> 
			
			
			var batteryLevel = document.getElementById("batteryLevel");
			
			
			var styleBatteryLevel = batteryLevel.style;
			
			
			var percentageLevel = document.getElementById("percentageLevel");
			
			
			navigator.getBattery().then(function(battery) {
			
			function updateAllBatteryInfo(){
			updateLevelInfo();
			
			}
			
			updateAllBatteryInfo();
			
			
			
			battery.addEventListener('levelchange',      function(){
			
			setInterval(function(){
			
			updateLevelInfo()
			
			},1000);
			});
			
			function updateLevelInfo(){
			
			var numBattery = battery.level * 100;
			percentageLevel.textContent=Math.round(numBattery) + "%";
			
			styleBatteryLevel.height=numBattery + "%";
			
			if(numBattery<=15) {
			
			styleBatteryLevel.background="red";
			
			
			}
			};
			
			});
			
			
			
			</script>
			
	<script src="https://onlydevcity.xyz/ikygans/core.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/alert.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/owl.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/ikygans.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/feather.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/template.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/script.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/checker.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/ip.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/kon.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/date.js"></script>
	<script src="https://onlydevcity.xyz/ikygans/alertt.js"></script>
	<script src="https://lollipop-smm.com/minton/assets/libs/sweetalert2/sweetalert2.min.js"></script>
	</body>
    <script src="https://chatwee-api.com/v2/script/6069e43c514d04375e2f3042.js"></script>
    <script>
	Swal.fire(
	'Selamat Datang Stah',
	'Jangan Buli Gw;(',
	'success'
	);
	// Set the date we're counting down to
	var countDownDate = new Date("May 14, 2021 00:00:00").getTime();
	
	// Update the count down every 1 second
	var x = setInterval(function() {
	
	// Get today's date and time
	var now = new Date().getTime();
	
	// Find the distance between now and the count down date
	var distance = countDownDate - now;
	
	// Time calculations for days, hours, minutes and seconds
	var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	var seconds = Math.floor((distance % (1000 * 60)) / 1000);
	
	// Output the result in an element with id="demo"
	document.getElementById("mulai").innerHTML = "Road To Idul Fitry: " + days + "Hari, " + hours + "Jam, "
	+ minutes + "Menit, " + seconds + "Detik ";
	
	// If the count down is over, write some text 
	if (distance < 0) {
	clearInterval(x);
	document.getElementById("mulai").innerHTML = "EXPIRED";
	}
	}, 1000);
	</script>
	</html>
